version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: gram-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gram
    volumes:
      - ./postgres-data:/var/lib/postgresql/data